<form method="post" action="{{ path('preinscripcion_delete', {'idPreinscripcion': preinscripcion.idPreinscripcion}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ preinscripcion.idPreinscripcion) }}">
    <button class="btn">Delete</button>
</form>
