<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
    		{{ encore_entry_link_tags('app') }}
    		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css" integrity="sha256-ikw4zfRFBqwF4UfeTqXBKsiCLtOSOD0XWliIEpPLO2M=" crossorigin="anonymous" />
		{% endblock %}
		<script src="https://kit.fontawesome.com/066f604452.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    		{{ encore_entry_script_tags('app') }}
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js" integrity="sha256-OLaRYiuHs2MI4UUBtEgS3h2/88KzBApHNvbxEbEylAo=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.es.js" integrity="sha256-A6PTYXwi1bu9hL/e3qb2DmucaJBdARh8Z76XjK3k+4c=" crossorigin="anonymous"></script>
		{% endblock %}
		{% block javascripts_page %}{% endblock %}
    </body>
</html>
